@font-face {
    font-family: "HYk2gj";
    src: url("HYLingXinTiJ.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "PangMenZhengDao";
    src: url("庞门正道标题体.ttf");
    font-weight: normal;
    font-style: normal;
}